/* PonG Ratings Stylesheet */
*                    { padding: 0px; margin: 0px; font-family: arial; color: #03F; font-size: 14pt;  }
INPUT[type=text],  
INPUT[type=password],
SELECT
                     { font-size: 20pt; }
SELECT               { height: 44px; width: 500px;}
BODY                 { background-color: #CCF;      }
.siteName            { color: #3B6; font-size: 40pt; }
H1                   { color: #459; font-size: 30pt; font-family: fantasy; }
A, A:visited,
A:hover, A:active    { outline: none; }
.clearBoth           { clear: both; }
.relative            { position: relative; }

/* Error Styling */
.errorExplanation    { border: 4px red solid; background-color: #F66; margin: 0px 25px; padding: 5px 0 0 10px;}
.errorExplanation UL { padding-left: 30px; }

/* General Layout */
.contentContainer    { margin: 20px;}
.contentTop          { background: url("/images/background-top.png") #CCF 0% 0% no-repeat scroll;  
                       height: 25px; width: 800px;  }
.layoutContent     { background-color: #EEF; width: 800px; padding-bottom: 10px; position: relative;      }
.layoutContent .headerContent { padding: 0px 30px 5px 0;        }
.layoutContent .bodyContent { padding: 5px 30px 10px 30px;                                                   }
.contentBottom       { background: url("/images/background-bottom.png") #CCF 0% 0% no-repeat scroll; 
                       height: 30px; width: 800px; }
.navigation          { height: 45px; background-color: blue; }
.navigation A,
.navigation A:visited,
.navigation A:hover  { color: white; font-size: 25pt;  }
.navigation UL       { text-align: center; padding-top: 2px; }
.navigation LI       { display: inline; padding: 1px 17px 0 19px; font-family: arial;}
.tagLine             { color: indigo; font-size:16px; position: absolute; left: 162px; top: 49px;}

.siteName            { float: left; padding-left: 18px;}
.loginWidget         { float: right; padding-top: 15px;}
.loginWidget INPUT   { width: 60px;}
.welcomeText         { float: right; padding-top: 35px; font-size: 19px; font-weight: bold;}
.bottomAd            { margin-left: 58px; }
.copyright           { font-size: 10px; position: absolute; top: -8px; left: 675px;}

/* Flash Error Messages */
.flashes             { padding: 0px 5px 0px 5px; margin: 5px; border: 1px solid blue; width: 600px;}
.flashes .error      { color: red; }

.newMatch                 {}
.newMatch DIV             { padding-bottom: 10px; }
.newMatch .scores         { padding-bottom: 10px; }
.newMatch .scores TD      { width: 100px; text-align: center; }
.newMatch .scores INPUT   { width: 50px; }
.newMatch .recordMatch    { font-size: 20pt; margin-left: 200px; margin-top: 20px;}

.loginHeader .login    { font-size: 14pt; width: 80px; }
.loginHeader .password { font-size: 14pt; width: 80px; }

/* Show match screen */
.showMatch .winnerName  { font-weight: bold; font-size: 40pt; color: green; }
.showMatch .loserName   { font-weight: bold; font-size: 20pt; color: red; }
.showMatch .winnerScore { color: green; font-size: 25px; }
.showMatch .loserScore  { color: red; font-size: 25px; }
.showMatch .defeatedSynonym { font-size: 32px; }
.showMatch .info  { padding-top: 15px; }
.showMatch .info .record { font-size: 32px; }
.showMatch .info .ratingChange { font-size: 30px; }

/* Top Ten Rankings */
.topTenRankings TD      { padding-left: 15px;    }
.topTenRankings TD,
.topTenRankings TH      { padding-bottom: 5px;   }

/* Match List */
.matchList TH,
.matchList TD           { padding-right: 25px; padding-bottom: 5px; text-align: center; } 

/* View user page */
.viewUser .beat         { color: green; }
.viewUser .lost         { color: red; }
.viewUser UL            { padding-left: 20px; }
.viewUser UL.matches    { padding-left: 35px; text-align: left; padding-right: 15px; }
.viewUser TABLE TH,
.viewUser TABLE TD      { padding: 0px 5px 0px 5px; text-align: center; }
.viewUser .chanceToWin  { border-left: 3px solid #BBD;}
.viewUser .matchesChanceToWinTable    { padding-top: 25px; }
.viewUser .matchesChanceToWinTable TD { vertical-align: top; }

/* How It Works */
.howItWorks H3          { color: #EE5; font-size: 25px; }
.howItWorks .example    { padding: 5px 0 5px 0;}
.howItWorks .content    { padding: 0 0 10px 15px; }
.howItWorks TH          { padding: 0 10px 0 10px;}
.howItWorks TH,
.howItWorks TD          { text-align: center; }
.howItWorks TABLE       { padding-top: 5px; }
.howItWorks .whereBlock { padding: 5px 0 0 10px; font-size: 16px;}

/* Source Code Page */
.sourceCode .content    { padding: 5px 0 0 10px; }

/* FAQ */
.faq .question,
.faq .answer            { padding-left: 10px; }
.faq .question          { padding-bottom: 5px; }
.faq .question SPAN     { color: red;   font-size: 28px; font-weight: bold; }
.faq .answer SPAN       { color: green; font-size: 28px; font-weight: bold; }
.faq .answer            { padding-bottom: 20px; }

/* Twitter */
.twitter .content       { padding-left: 10px; padding-top: 5px; }
.twitter .widget        { float: right; }

/* Signup */
.signup TD              { padding-bottom: 5px; }
.signup .submit         { margin-left: 458px; }