<div class="topTenRankings">
	<h2>Top Ranked Players</h2>

	<table>
		<tr>
			<th>Login</th>
			<th>W/L</th>
			<th>Rating</th>
		</tr>
		<% for user in User.find(:all, :order => 'rating desc') do %>
			<tr>
				<td><%= user.login %></td>
				<td><%= user.wins%> - <%= user.losses %></td>
				<td><%= user.rating %></td>
			</tr>
		<% end %>
	</table>

</div>