<div class="faq">
	<h2>Frequently Asked Questions</h2>
	
	<div class="question">
		<span>Q:</span>
		I'm <em>8-0</em>!!!  <strong>I've never lost.</strong>  How come Billy has more points than me even though he is <em>5-3</em>.  His record isn't even perfect!!!!
	</div>
	<div class="answer">
		<span>A:</span>
		Your rating is not only based on your win-loss ratio.  It is also based on rankings of your opponent.  In your example, Billy must have defeated higher rated players, yielding larger point swings.  Check out the <%= link_to 'How It Works', :action => 'how_it_works'%> section for more information.
	</div>
	
	<div class="question">
		<span>Q:</span>
		I'm ranked numero UNO!  Should I play anymore games or should I sit on my number 1 rating?
	</div>
	<div class="answer">
		<span>A:</span>
		Yes!  There are a couple reasons you should play more games.  Firstly, someone else might get more points and overtake you!  Secondly, we will eventually be implementing a points deprecation scheme.  That means that your number one ranking will be taken away eventually.  Third, you'll get out of practice!  If you don't practice for two months and someone overtakes you, it will be very hard for you to get back on top.
	</div>
	
	<div class="question">
		<span>Q:</span>
		What is preventing Chester the Cheater from just playing Tommy the Terrible 5000 million times to get a number one ranking.
	</div>
	<div class="answer">
		<span>A:</span>
		Diminishing Returns!  Each time Chester beats Tommy, he will get fewer points. Eventually, Chester will get 0 points from a victory.  It would be much easier for Chester to defeat a variety of different players.
	</div>
	
	<div class="question">
		<span>Q:</span>
		I'm hooked! Is there any way to keep up with matches as they happen?
	</div>
	<div class="answer">
		<span>A:</span>
		Sure is!  Check out our <%= link_to "twitter", :controller => 'welcome', :action => 'twitter' %> feed for information.
	</div>
</div>