<div class="sourceCode">
	<h2>Open Source Project</h2>
	<div class="content">
		<strong>PingPongPoints.com</strong> is an <strong>Open Source Website</strong>!  Curious about the algorithm?  Want to figure out how we did something?  Check out the source code.  It's available on <a href="http://github.com/jenglert/pingpongpoints">Github</a>.
	</div>
</div>