<div class="twitter">
	<div class="widget">
		<script src="http://widgets.twimg.com/j/2/widget.js"></script>
		<script>
		new TWTR.Widget({
		  version: 2,
		  type: 'search',
		  search: 'pingpongpoints',
		  interval: 6000,
		  title: 'Queries related to PingPongPoints.com',
		  subject: 'PingPongPoints!',
		  width: 250,
		  height: 300,
		  theme: {
		    shell: {
		      background: '#8ec1da',
		      color: '#ffffff'
		    },
		    tweets: {
		      background: '#ffffff',
		      color: '#444444',
		      links: '#1985b5'
		    }
		  },
		  features: {
		    scrollbar: false,
		    loop: true,
		    live: true,
		    hashtags: true,
		    timestamp: true,
		    avatars: true,
		    behavior: 'default'
		  }
		}).render().start();
		</script>
	</div>
	<h1>Twitter! - Follow Us</h1>
	<div class="content">
		<strong>Follow PingPongPoints.com</strong> on <a href="http://twitter.com/pingpongpoints">Twitter</a>.  We will post new matches to the twitter feed so you can keep up to date no matter where you are!  Check out <a href="http://twitter.com/pingpongpoints">@pingpongpoints</a>!!!!
	</div>
	<div class="clearBoth" ></div>
</div>