<div class="twitter">
	<h2>Twitter! - Follow Us</h2>
	<div class="content">
		<strong>Follow PingPongPoints.com</strong> on <a href="http://twitter.com/pingpongpoints">Twitter</a>.  We will post new matches to the twitter feed so you can keep up to date no matter where you are!
	</div>
</div>