<div class="matchList">
	<h2>Matches</h2>
	<table>
		<tr>
			<th>
				Winner
			</th>
			<th>
				Loser
			</th>
			<th>
				Score
			</th>
		</tr>
		<% for match in @matches do %>
			<tr>
				<td>
					<%= match.winner.login%>
				</td>
				<td>
					<%= match.loser.login%>
				</td>
				<td>
					<%= match.winner.score %> - <%= match.loser.score %>
				</td>
			</tr>
		<% end %>
	</table>
</div>